.navbar {
  background-color: #f77416;
  overflow: hidden;
  display: flex;
  padding: 0px 16px;
}

.navbar-left {

}

.navbar-center {
  flex-grow: 1;
}

.navbar-right {

}

.navbar-dropdown {
  padding: 12px 16px;
  height: 100%;
  min-width: 120px;
  border: none;
  outline: none;
  background-color: inherit;
  color: white;
  font-size: 18px;
}

.navbar-dropdown:hover,
.navbar-dropdown:focus {
  background-color: #6b3711;
}

.navbar-drop-item {
  padding: 12px 16px;
  color: white;
  font-size: 18px;
}

.navbar-drop-item:hover,
.navbar-drop-item:focus {
  background-color: #6b3711;
}

.navbar-drop-item button {
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.hidden {
  display: none;
}

.navbar-dropmenu {
  position: absolute;
  background-color: #f77416;
  min-width: 160px;
  right: 0;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar-logo img {
  width: 140px;
}